{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Müzik Oluştur ve Çal</title>
</head>
<body>
    <h1>Web Müzik Oluştur ve Çal</h1>

    <form action="/generate_music" method="POST">
        <button type="submit">Generate Music</button>
    </form>

    <br>

    <midi-player
  src="static/music.mid"
  sound-font visualizer="#myVisualizer">
</midi-player>
<midi-visualizer type="piano-roll" id="myVisualizer"></midi-visualizer>

    <br>

    <a href="/download_music" target="_blank">Download</a>
</body>
    {% endblock %}
